<div class="row">
  <div class="container" id="create_account">
  <h1>Edit Account</h1>
    <%= form_for(@shopper) do |f| %>
      <% if @shopper %>
          <%= render partial: "shared/form_error_list", locals: { model: @shopper } %>
      <% end %>
      <p>
          <%= f.label :email %><br>
          <%= f.text_field :email, class: "form-control" %>
      </p>
      <p>
          <%= f.label :mobile %><br>
          <%= f.text_field :mobile, class: "form-control" %>
      </p>
      <p>
          <%= f.label :password %><br>
          <%= f.password_field :password, class: "form-control" %>
      </p>
      <p>
          <%= f.label :password_confirmation %><br>
          <%= f.password_field :password_confirmation, class: "form-control" %>
      </p>
      <p>
          <%= f.submit class: "btn btn-danger" %>
      </p>
    <% end %>
  </div>  
</div>  

<br/> <br/> <br/> <br/> 