<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
  <title>TrackerApp</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart']}]}"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


	<% if current_shopper != nil %>
	<nav class="navbar navbar-inverse" role="navigation">
	<div class="container" id="navbar_fix">
			<div class="navbar-header">
				<a id="home" class="navbar-brand" href="/products"><span class="glyphicon glyphicon-stats"></span> Tracker</a>
				<a class="navbar-brand" href="/search"><span class="glyphicon glyphicon-search"></span> Search</a>
				<a class="navbar-brand" href="/customers"><span class="glyphicon glyphicon-question-sign"></span> Settings</a>
				<a class="navbar-brand" href="/about"><span class="glyphicon glyphicon-info-sign"></span> Info</a>
			</div>
				
		<p id="log_out" class="navbar-brand navbar-right"><a href="/logout" class="navbar-link"><span class="glyphicon glyphicon-remove"></span> Logout</a></p>
				
	</div>
	</nav>
	<%else%>
	<nav class="navbar navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
				<a id="home" class="navbar-brand" href="/"><span class="glyphicon glyphicon-stats"></span> Tracker</a>
				<a class="navbar-brand" href="/about"><span class="glyphicon glyphicon-info-sign"></span> Info</a>
			</div>
	</div>
	</nav>

	<%end%>


<%= yield %>

<% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
    <% end -%>

</body>
</html>
